


<div class="container">


    <h1>Welcome to PRIME</h1>
    <p>PRIME is a clinical decision support system, powered by FHIR and Smart on FHIR frameworks. PRIME allows to integrate existing EHR systems for getting timely clinical guideline based recommendations </p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">


        <div *ngFor="let info of navInfo" class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
            </div>
            <h2>{{info.title}}</h2>
            <p>{{info.description}}</p>
            <a href="#" class="icon-link" [routerLink]="info.url">
                Go
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>


    </div>
</div>