<div class='container-fluid' style="margin-bottom: 50px">
    <div class='row'>

        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
   
   
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Powered by Capemed E.E. and PRIME © 2021 Copyright:
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->