<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto mr-0 mr-md-2" href="#">PRIME</a>

   
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin/cdsclients']">
                    <span class='glyphicon glyphicon-th-list'></span>PRIME CDSS Clients
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin/aggregation']">
                    <span class='glyphicon glyphicon-th-list'></span> Aggregations
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin/dss']">
                    <span class='glyphicon glyphicon-th-list'></span> DSS Models
                </a>
            </li>
            <!--<li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin/alert']">
                    <span class='glyphicon glyphicon-th-list'></span> Alerts
                </a>
            </li>-->

            <!--<li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin/cds']">
                    <span class='glyphicon glyphicon-th-list'></span> PRIME CDS Demo
                </a>
            </li>-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin/medcheck']">
                    <span class='glyphicon glyphicon-th-list'></span> Medications Check Demo
                </a>
            </li>


            <!--<li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    
</nav>



<!--<nav class="navbar-nav  navbar-light bg-light">
    <a class="navbar-brand" href="#">PRIME</a>

    <div class="collapse navbar-collapse" id="navbarText">
            <ul class='navbar-nav mr-auto'>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/cdsclients']">
                        <span class='glyphicon glyphicon-th-list'></span>PRIM CDSS Clients
                    </a>
                </li>
                <li class="nav-item active"  [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/aggregation']">
                        <span class='glyphicon glyphicon-th-list'></span> Aggregations
                    </a>
                </li>
                <li class="nav-item active" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/dss']">
                        <span class='glyphicon glyphicon-th-list'></span> DSS Models
                    </a>
                </li>
                <li class="nav-item active"  [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/alert']">
                        <span class='glyphicon glyphicon-th-list'></span> Alerts
                    </a>
                </li>

                <li  class="nav-item active" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/cds']">
                        <span class='glyphicon glyphicon-th-list'></span> PRIME CDS Demo
                    </a>
                </li>
                <li class="nav-item active" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/medcheck']">
                        <span class='glyphicon glyphicon-th-list'></span> Medications Check Demo
                    </a>
                </li>



            </ul>

    </div>
</nav>-->
